### Info
Plotting comparisons

In [1]:
import numpy as np
import pandas as pd

In [8]:
pred_hls = np.load("preds_hls.npy")
pred_qonnx = np.load("preds_qonnx.npy")
pred_qonnx_init = np.load("preds_qonnx_init.npy")
pred_qkeras = np.load("preds_qkeras.npy")

In [9]:
frame = pd.DataFrame(zip(pred_hls, pred_qonnx, pred_qonnx_init, pred_qkeras), columns = ['HLS','QONNX mod','QONNX init','qKeras'])

In [11]:
frame['qKeras-QONNX init'] = frame['qKeras'] - frame['QONNX init']
frame['qKeras-QONNX mod'] = frame['qKeras'] - frame['QONNX mod']

In [12]:
frame

,HLS,QONNX mod,QONNX init,qKeras,qKeras-QONNX init,qKeras-QONNX mod
0,5.250,5.375,5.375,5.375,0.0,0.0
1,1.375,1.375,1.375,1.375,0.0,0.0
2,1.750,1.750,1.750,1.750,0.0,0.0
3,0.750,0.750,0.750,0.750,0.0,0.0
4,4.500,4.500,4.500,4.500,0.0,0.0
...,...,...,...,...,...,...
2043,1.375,1.375,1.375,1.375,0.0,0.0
2044,1.375,1.375,1.375,1.375,0.0,0.0
2045,2.250,2.250,2.250,2.250,0.0,0.0
2046,1.125,1.250,1.250,1.250,0.0,0.0
2047,1.375,1.375,1.375,1.375,0.0,0.0

In [13]:
print(frame['qKeras-QONNX init'].value_counts(), frame['qKeras-QONNX mod'].value_counts())

qKeras-QONNX init
0.0    2048
Name: count, dtype: int64 qKeras-QONNX mod
 0.000     2038
-0.125        5
 0.125        3
 29.250       1
 36.000       1
Name: count, dtype: int64

In [14]:
frame['diff_mod'] = frame['QONNX mod'] - frame['HLS']
frame['diff_init'] = frame['QONNX init'] - frame['HLS']

In [ ]:
frame['diff_diff'] = frame['diff_mod'] - frame['diff_init']

In [15]:
frame['diff_mod'].value_counts()

diff_mod
0.000      2014
0.125        32
226.750       1
220.000       1
Name: count, dtype: int64

In [16]:
frame['diff_init'].value_counts()

diff_init
0.000      2016
0.125        30
256.000       2
Name: count, dtype: int64