### Info
Plotting comparisons

In [1]:
import numpy as np
import pandas as pd

### Load data into a DataFrame

In [41]:
min_ind = 1
max_ind = 5

model_names = ('hls','qkeras','qonnx_init','qonnx_mod')
pred_all = []   # will be a list of arrays from each model

for model_name in model_names:
    pred_single = np.array([])
    for file_index in range(min_ind, max_ind+1):
        data = np.load('./pred_Test/preds_'+model_name+str(file_index)+'.npy')
        pred_single = np.append(pred_single,data)
        #print(pred_single.shape)
    pred_all.append(pred_single)

pred_all = np.array(pred_all).T

In [42]:
pred_all.shape

(10240, 4)

In [ ]:
df = pd.DataFrame(pred_all, columns=model_names)
df

         hls  qkeras  qonnx_init  qonnx_mod
0      0.750   0.750       0.750      0.750
1      1.250   1.250       1.250      1.250
2      3.375   3.375       3.375      3.375
3      1.875   1.875       1.875      1.875
4      2.000   2.000       2.000      2.000
...      ...     ...         ...        ...
10235  1.375   1.375       1.375      1.375
10236  2.125   2.125       2.125      2.125
10237  0.875   0.875       0.875      0.875
10238  0.750   0.750       0.750      0.750
10239  2.125   2.125       2.125      2.125

[10240 rows x 4 columns]

### Compare predictions

In [45]:
df['qxinit_qkeras'] = df['qonnx_init'] - df['qkeras']
df['qxinit_qkeras'].value_counts()

qxinit_qkeras
0.0    10240
Name: count, dtype: int64

modified vs unmodified qonnx with respect to hls

In [52]:
df['qxinit_hls'] = df['qonnx_init'] - df['hls']
df['qxmod_hls'] = df['qonnx_mod'] - df['hls']

print(df['qxinit_hls'].value_counts())
print(df['qxmod_hls'].value_counts())

qxinit_hls
0.000      10056
0.125        179
256.000        4
512.000        1
Name: count, dtype: int64
qxmod_hls
0.000      10068
0.125        167
237.750        1
243.500        1
178.125        1
206.125        1
248.625        1
Name: count, dtype: int64